@using Abp.Web.Mvc.Extensions
@using Microsoft.Owin.Security
@model Polex.Web.Models.Account.LoginFormViewModel
@section Styles
{
    @Html.IncludeStyle("~/Views/Account/Login.css")
}
@section Scripts
{
    @Html.IncludeScript("~/Views/Account/Login.js")
}
<div class="container">
    <div id="LoginArea" class="row">
        <div class="col-lg-12">
            <div class="well">
                <form id="LoginForm" action="@(Url.Action("Login", "Account"))?returnUrl=@(Model.ReturnUrl)" method="POST">
                    <fieldset>
                        <legend>@L("LogIn")</legend>
                        
                        <div class="alert alert-danger" style="display:none">
                            <i class="fa fa-warning"></i>Error
                        </div>

                        @if (Model.IsMultiTenancyEnabled)
                        {
                            <div class="form-group label-floating">
                                <label class="control-label">@L("TenancyName")</label>
                                <input type="text" class="form-control" id="TenancyName" maxlength="@Polex.MultiTenancy.Tenant.MaxTenancyNameLength">
                                <span class="text-muted">@L("CanBeEmptyToLoginAsHost")</span>
                            </div>
                        }
                        else
                        {
                            <input type="hidden" id="TenancyName" value="">
                        }

                        <div class="form-group label-floating">
                            <label class="control-label">@L("UserName")</label>
                            <input type="text" class="form-control" id="EmailAddressInput" required maxlength="@Polex.Users.User.MaxEmailAddressLength">
                        </div>

                        <div id="PasswordGroup" class="form-group label-floating">
                            <input type="password" class="form-control" id="PasswordInput" required maxlength="@Polex.Users.User.MaxPlainPasswordLength">
                            <label class="control-label">@L("Password")</label>
                       </div>
                            <div class="form-group checkbox">
                                <label>
                                    <input type="checkbox" id="RememberMeInput"> @L("RememberMe")
                                </label>
                            </div>

                        <input id="ReturnUrlHash" type="hidden" name="returnUrlHash" />

                        <div class="form-group">
                            <button id="LoginButton" type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> @L("LogIn")</button>
                            <a class="btn btn-success" href="@Url.Action("Register")"><i class="fa fa-sign-in"></i> @L("Register")</a>
                        </div>
                    </fieldset>
                </form>

                @{
                    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes().ToList();
                }

                @if (loginProviders.Count > 0)
                {
                    <p>@L("OrLoginWith"):</p>
                    

                    using (Html.BeginForm("ExternalLogin", "Account", method: FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                        <input type="hidden" name="provider" value="" />

                        foreach (var provider in loginProviders)
                        {
                            <a class="btn btn-default btn-sm social-login-link" title="@provider.AuthenticationType"
                               data-provider="@provider.AuthenticationType"
                               href="javascript:;">
                                <i class="fa fa-@(provider.AuthenticationType.ToLower())"></i> @provider.AuthenticationType
                            </a>
                        }
                    }
                }

            </div>
        </div>
    </div>
</div>